@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');

/* ----------------------------------------------------------
:: Mixin CSS
---------------------------------------------------------- */

@mixin transition ($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    -o-transition: $property;
    transition: $property;
}

@mixin transform ($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    -o-transform: $property;
    transform: $property;
}

@mixin animation ($property) {
    -webkit-animation: $property;
    -moz-animation: $property;
    -ms-animation: $property;
    -o-animation: $property;
    animation: $property;
}


/* ----------------------------------------------------------
:: Common CSS
---------------------------------------------------------- */

/* Variables */

$gray-color: #efefef;
$darkgray-color: #2b2b2b;
$orange-color: #ed7e13;
$bulishblack-color:#01222e;
$white-color: #fff;
$black-color: #242424;
$tealblue-color: #01445a;
$goldenochre-color: #e9c46a;
$sandybrown-color: #f4a261;
$whitesmoke-color: #f0f0f5;
$navyblue-color: #21273d;

/* Class */

.gray-color {
    color: $gray-color;
}

.darkgray-color {
    color: $darkgray-color;
}

.orange-color {
    color: $orange-color;
}
.navyblue-color {
    color: $navyblue-color;
}

.shadow {
    box-shadow: 0 4px 25px 0 #a8b4d01a;
}


/* --------------------- */

.bulishblack-color {
    color: $bulishblack-color;
}

.black-color {
    color: $black-color;
}

.tealblue-color {
    color: $tealblue-color;
}

.goldenochre-color {
    color: $goldenochre-color;
}

.sandybrown-color {
    color: $sandybrown-color;
}

.whitesmoke-color {
    color: $whitesmoke-color;
}

.bg-goldenochre-color {
    background-color: $goldenochre-color;
}

.bg-tealblue-color {
    background-color: $tealblue-color !important;
}






/*-------------------------------------------------------------------
:: Common SCSS
-------------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    &::before {
        box-sizing: border-box;
    }
    &::after {
        box-sizing: border-box;
    }
}


/* *,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

 ::selection {
    color: $white-color;
    background: $orange-color;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $black-color;
    text-decoration: none;
    &:hover,
    &:focus {
        @include transition(all 0.3s ease-out);
        color: $orange-color;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-color;
    margin: 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5em;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.text-justify {
    text-align: justify;
}

//* ------:: Buttons----------- */
.btn:focus {
    outline: none;
    box-shadow: none;
    text-decoration: none;
}

.btn-property {
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-width: 110px;
    text-transform: capitalize;
    border-radius: 25px;
    padding: 0.3rem 1rem;
}

.button--effect-3 {
    background: linear-gradient(94.6deg, #B03F7C 5.75%, #284070 90.85%);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.36);
    color: $white-color;
    font-weight: 600;
    border: 1px solid #c6c6c6;
    @extend .btn-property;
    &:hover {
        color: #d8d9e6;
        border: 1px solid $darkgray-color;
        &:before {
            transform: translateX(-33%);
        }
        &:after {
            transform: translateX(33%);
        }
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 80px solid $darkgray-color;
        transition: 0.5s ease-in-out;
        z-index: -1;
    }
    &:before {
        right: -50px;
        border-right: 50px solid transparent;
        transform: translateX(-100%);
    }
    &:after {
        left: -50px;
        border-left: 50px solid transparent;
        transform: translateX(100%);
    }
}

.button--effect-1 {
    background-color: $orange-color;
    color: $white-color;
    @extend .btn-property;
    &:hover {
        background-color: $orange-color;
    }
}

.button--effect-2 {
    background-color: $orange-color;
    color: $white-color;
    @extend .btn-property;
    &:hover {
        background-color: $orange-color;
    }
}


/* Form */

.form-control,
select {
    border-radius: 5px;
    height: 48px;
    &:focus {
        border-color: $orange-color;
        box-shadow: none;
    }
}

.form-select {
    padding: .5rem;
    height: 48px;
}


/* ----------------------------------------------------------
:: Breadcrum CSS
---------------------------------------------------------- */

.page-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 0 1rem 0rem;
    /* -ms-flex-wrap: wrap; */
    justify-content: space-between;
    padding: 0;
    @media only screen and (max-width: 600px) {
        display: block;
    }
    @media only screen and (min-width: 600px) {
        display: flex;
    }
}

.common-breadcrum {
    display: inline-block;
    font-size: .83rem;
    margin: 5px 0 20px;
    li+li {
        &:before {
            padding: 0 5px;
            color: #ccc;
            content: "/";
        }
        &:last-child {
            color: $orange-color;
        }
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }
}

.breadcrum-title {
    line-height: 1 !important;
    h2 {
        color: $black-color;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        position: relative;
        @media only screen and (max-width: 600px) {
            font-size: .85rem;
        }
    }
}

.section-title {
    line-height: 5px;
    h2 {
        color: $black-color;
        font-size: 1rem;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        @media only screen and (max-width: 600px) {
            font-size: .85rem;
        }
    }
}