<aside class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home">
                <i class="fa fa-tachometer menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/manage-userlist">
                <i class="bx bx-group menu-icon"></i>
                <span class="menu-title">Manage</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-calendar menu-icon"></i>
                <span class="menu-title">Booking & Ticketing</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-file-text-o menu-icon"></i>
                <span class="menu-title">Invoice</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-calendar-o menu-icon"></i>
                <span class="menu-title">POS</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-credit-card menu-icon"></i>
                <span class="menu-title">Payment Link</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="bx bx-trash menu-icon"></i>
                <span class="menu-title">Reports</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-cog menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-trash menu-icon"></i>
                <span class="menu-title">Supports Ticket</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/">
                <i class="fa fa-sign-out menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</aside>