@import "../../assets/css/variables";
.setCoverImage {
    position: relative;
    .cover-image {
        background: $orange-color;
        padding: 0.5rem;
        border-radius: 5px;
        position: absolute;
        right: 10px;
        top: 10px;
        input {
            display: none;
        }
        label {
            z-index: 1;
            cursor: pointer;
        }
    }
    .cover-preview {
        height: 280px;
        width: 100%;
        border-radius: 5px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: fill;
            object-position: center;
        }
    }
}

.block-profile {
    background-color: $orange-color;
    padding: 15px;
    width: 80%;
    min-height: 45%;
    position: relative;
    border-radius: 5px;
    margin: -60px auto 30px;
    .content {
        h3 {
            font-size: 1.2rem;
        }
    }
}

.avatar-upload {
    position: relative;
    width: 120px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 15px;
    z-index: 1;
    bottom: -15px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: $orange-color;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f03e";
    font-family: 'FontAwesome';
    color: $black-color;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 5px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    object-position: top center;
}

.wizard {
    .wizard-inner {
        position: relative;
        margin-bottom: 50px;
        z-index: 1;
        .connecting-line {
            height: 2px;
            background: #DDDDDD;
            position: absolute;
            width: 81%;
            margin: 0 auto;
            left: -20px;
            right: 0;
            top: 20px;
            z-index: -1;
        }
        ul {
            position: relative;
            margin-bottom: 30px;
            border-bottom-color: transparent;
            li {
                width: 16%;
                .nav-link {
                    width: 44px;
                    height: 44px;
                    margin: 0 auto;
                    border-radius: 100%;
                    padding: 9px;
                    background-color: $white-color;
                    position: relative;
                    top: 0;
                    border: 2px solid #DDDDDD;
                    text-align: center;
                    cursor: pointer;
                    h6 {
                        position: absolute;
                        top: -25px;
                        font-style: normal;
                        font-weight: 400;
                        white-space: nowrap;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: .9rem;
                        color: $black-color;
                        @media only screen and (max-width: 600px) {
                            display: none;
                        }
                        @media only screen and (min-width: 600px) {
                            display: none;
                        }
                        @media only screen and (min-width: 992px) {
                            display: block;
                        }
                        @media only screen and (min-width: 1200px) {
                            display: block;
                        }
                    }
                }
                .nav-link.active {
                    border: 2px solid $orange-color;
                    .round-tab {
                        width: 14px;
                        height: 14px;
                        line-height: 30px;
                        display: inline-block;
                        border-radius: 50%;
                        background: $orange-color;
                        z-index: 2;
                        position: relative;
                        left: 0;
                    }
                    h6 {
                        font-weight: 500;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}